:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
    img {
      width: 80px;
      height: 80px;
    }
    .img-card {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background-color: #ebf3f8;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .img-card-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
