<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Luca Imbalzano</h2>
      <h4>Lucaimbalzano@gmail.com</h4>
    </div>
    <div class="img-card-container">
      <div class="img-card">
        <img src="../../../../assets/images/user.png" alt="Name Lastname" />
      </div>
    </div>
  </div>

  <mat-divider> </mat-divider>
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>dashboard</mat-icon>Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item" routerLink="/posts"
    ><mat-icon> table_chart</mat-icon>Data Table</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
    <mat-icon>person_outline</mat-icon> User
  </a>
  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
</mat-nav-list>
