<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Name Lastname</h2>
      <h4>name@gmail.com</h4>
    </div>
    <img
      src="https://res.cloudinary.com/dp6zlazyt/image/upload/v1618527274/wp1945911_ar56cx.jpg"
      alt="Name Lastname"
    />
  </div>

  <mat-divider> </mat-divider>
  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item" routerLink="/posts">Posts</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles"
    >Articles</a
  >

  <mat-divider></mat-divider>

  <h2 matSubheader>Tools</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
</mat-nav-list>
