ul li {
  list-style: none;
}
.mat-toolbar {
  background: #000;
  color: white;
}

img {
  margin-left: 15px;
}
.mat-focus-indicator:hover {
  transform: rotate(360deg);
  background: #2c2c2c;
  border-radius: 50%;
}
.rotate {
  transition: all 0.5s ease-in-out;
}
.rotate:hover {
  transition: all 1s ease-in-out;
}
